node_modules/
dist/
.scp/
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
.*_mta_build_tmp
allure-results/
PageObjectModel/login.page.ts
PageObjectModel/page.ts
PageObjectModel/secure.page.ts
test/specs/test.e2e.ts
test/specs/__snapshots__/
.tmp/actual/flashAlert-chrome-1050x652-dpr-1.5.png
.tmp/actual/flashAlert-firefox-1295x687-dpr-1.5.png
.tmp/actual/flashAlert-microsoftedge-1050x652-dpr-1.5.png
Locators/AsInt_Edge_Applications_Locators/test.js
allure-results/
allure-report/
*.log